<div class="row align-center">
  <div class="columns small-11 medium-8 large-6">
    <% @grams.each do |gram| %>
      <div class="card">
        <div class="row align-justify align-middle">
          <div class="column handle"><%= gram.user.email.split('@')[0] %></div>
          <% if current_user && current_user == gram.user %>
            <div class="column gram-actions">
                <p class="text-right">
                  <%= link_to "Edit", edit_gram_path(gram) %>
                  <%= link_to 'Destroy', gram_path(gram), class: "alert", method: :delete, data: {confirm: 'Are you sure?'} %>
                </p>
            </div>
          <% end %>
        </div>
        <%= image_tag gram.picture %>
        <p>
          <span class="comment-handle">
            <%= gram.user.email.split('@')[0] %>
          </span>
          <%= gram.message %>
        </p>
        <% if gram.comments.present? %>       
          <hr class="hr-margin" />
        <% end %>
        <div class="comments">
          <% gram.comments.each do |comment| %>
            <div class="comment">
              <span class="comment-handle">
                <%= comment.user.email.split('@')[0] %>
              </span>
              <%= comment.message %>
            </div>
          <% end %>
          <hr />
          <%= minimal_form_for Comment.new, url: gram_comments_path(gram) do |f| %>
            <%= f.input :message, placeholder: "Add a comment..." %>
            <%= f.submit "Add comment", class: "button expanded my-button", placeholder: "Add a comment..." %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>