<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Grammable" %></title>

    <%= stylesheet_link_tag    "application" %>
    <link href="https://fonts.googleapis.com/css?family=Engagement" rel="stylesheet">
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="title-bar show-for-small-only" data-responsive-toggle="top-nav" data-hide-for="medium">
      <div class="row align-middle align-justify">
        <div class="title-bar-title brand"><%= link_to "Grammable", root_path %></div>
        <button class="menu-icon" type="button" data-toggle="example-menu"></button>
        
      </div>
    </div>

    <div class="top-bar" id="top-nav">
      <div class="row align-middle align-justify">
        <div class="top-bar-left show-for-medium">
          <ul class="menu">
            <li class="menu-text brand"><%= link_to "Grammable", root_path %></li>
          </ul>
        </div>
        <div class="top-bar-right show-for-medium">
          <ul class="menu add">
          <% if current_user %>
              <li>Welcome, <span class="nav-handle"><%= current_user.email.split('@')[0] %></span> &middot;</li>
              <li><%= link_to "New Post", new_gram_path %></li>
              <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "Sign In", new_user_session_path %></li>
              <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="row show-for-small-only align-center">
        <ul class="menu add">
          <% if current_user %>
              <li><%= link_to "New Post", new_gram_path %></li>
              <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "Sign In", new_user_session_path %></li>
              <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <% end %>
          </ul>
      </div>
    </div>
    <!--End Header-->

    <% if notice.present? %>
      <p class="callout primary text-center"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="callout alert text-center"><%= alert %></p>
    <% end %>
    <br />
    <%= yield %>
    
    <footer class="row align-center">
      <div class="colums small-11 medium-8 large-6 text-center">
        <p>Built by Justin Munn at <%= link_to 'The Firehose Project', 'http://www.thefirehoseproject.com/' %></p>
        <p>View the code on <%= link_to 'Github', 'https://github.com/jwmunn/grammable' %> and see more of my photos on <%= link_to 'Instagram', 'https://www.instagram.com/jwmunn/' %></p>
      </div>
    </footer>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  </body>
</html>
